soundfile
torchaudio==0.12.0
transformers==4.21.2
pyaudio==0.2.12
webrtcvad==2.0.10
rx==3.2.0
halo==0.0.31
onnx==1.12.0
onnxruntime==1.12.1
wheel
pyctcdecode==0.4.0
https://github.com/kpu/kenlm/archive/master.zip
jupyter==1.0.0